{% extends "quotes/base.html" %}

{% block content %}

{% if messages %}
<div class="alert-container">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<form method="POST" action="{% url 'quotes:add_author' %}">
    {% csrf_token %}
    <h2>Add new author:</h2>
    <div class="row" style="padding: 10px">
        <label> Fullname:
            {{ form.fullname }}
        </label>
        <label> Born date:
            {{ form.born_date }}
        </label>
        <span>{{ form.errors.born_date }}</span>
        <label> Born loaction:
            {{ form.born_location }}
        </label>
        <label> Description:
            {{ form.description }}
        </label>
        <span>{{ form.errors.fullname }}</span>
    </div>
    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>
{% endblock %}
